/*
general styles
*/
h1 {
    font-family: MADE TOMMY;
    color: #f18181;
  }
  p {
    font-family: MADE TOMMY;
    color: #f18181;
    font-size: large;
  }
h2 {
  font-family: MADE TOMMY;
  color: #f18181;
  font-size: larger;
  }
/*
popup styling
*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.popup-inner {
    /* bg of popup */
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.close-button {
    /* button colour */
    background-color: #f18181;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.back-button, .forward-button {
background-color: #f18181;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
/* text area resizing */
textarea {
    resize: none;
  }
/* help button */
#helpButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f18181;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#settingsButton {
  position: fixed;
  top: 10px;
  right: 65px;
  padding: 10px;
  background-color: #f18181;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#importButton {
  position: fixed;
  top: 50px;
  right: 10px;
  padding: 10px;
  background-color: #f18181;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#exportButton {
  position: fixed;
  top: 50px;
  right: 75px;
  padding: 10px;
  background-color: #f18181;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#keyImportButton {
  position: fixed;
  top: 190px;
  right: 15px;
  padding: 10px;
  background-color: #f18181;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#keyImport {
  position: fixed;
  top: 100px;
  right: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#backButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f18181;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#monthlyTasks {
  position: fixed;
  top: 100px;
  right: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  }

#bigText {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
}

#backToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f18181;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* other text stuff */
#input-form {
  font-family: MADE TOMMY;
  color: #f18181;
  font-size: larger;
  }

#month-year {
  font-family: MADE TOMMY;
  color: #f18181;
  width: 90vh;
  text-align: center;

  }

#next-month-button {
  font-family: MADE TOMMY;
  color: #f18181;
  width: 90vh;
  position: fixed;
  top: 30%;
  left: 85%;
  margin-top: 20px;
  text-align: center;
  }

#prev-month-button {
  font-family: MADE TOMMY;
  color: #f18181;
  width: 90vh;
  position: fixed;
  top: 30%;
  left: 65%;
  margin-top: 20px;
  text-align: center;
  }

/* calendar */
.calendar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header h2 {
  margin: 0;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 50px;
  text-align: center;
  
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 50px;
  text-align: center;
  
}

.calendar-title {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 50px;
  
}


.calendar-day {
  text-align: center;
  font-size:larger;
  font-family: MADE TOMMY;
  color: #f18181;
  padding: 10px;
  border: 0px;

}

.separateElements {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
}